
.toppest{
    background-color: rgb(231, 230, 230);
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.top-sections{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;   
}

ul li,.billing div{
    /* display: inline;
    padding-left:10px; */
  }

.toppest-header ul li{
    list-style: none;
    display: inline;
    padding-left:10px;

  }  
.header-mail{
    position:relative;
    left:0;
    width: 100px;
    padding-right: 10px;
    border-right:1px solid  #d1c6c6;

}
.social-icons a{
    padding: 0px 10px;
}
.Language{
    background-color:rgb(231, 230, 230) ;
    padding: 5px 10px;
    border: none;
}
.right{
    display: flex;
    justify-content: space-between;
    
}

.logIn, .select{
    padding: 0px 20px;
    border-left:1px solid  #d1c6c6;
    /* padding-left:50px ; */
}
.logIn a{
    text-decoration: none;
    color:black;
}

.btn-green{
    background: rgb(97, 153, 14);
    color: white;
    font-weight: 500;
    border: none;
    padding:10px;
}
.contact{
    display: flex;
    width: 100%;
    height: 10vh;
  }
  .phn-icon{
    color:green;
    font-size: 20px;
    background-color: rgb(197, 197, 192);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    border-radius: 50%;
  }
.cust-Serv{
  
}
.cust-Serv h5{
    font-size: 18px;
    font-weight: bold;
    left: 0;
    right: 0;
 
}
.cust-Serv p{
    font-size: 12px;
    color: rgb(85, 83, 83);
    padding-left: 5px;
 
}

/* ######-------------- All DEPARTMENT CUSTOM SELECT MENU */

.dd{
    width: 100%;
    height: 100%;
    /* margin: 100px auto; */
    position: relative;
}
.dd-icon{
    color: white;
    font-size: larger;
    font-weight: bolder;
}
.dd .dd-btn{
    padding: 10px 20px;
    background: rgb(97, 153, 14);
    font-weight: bolder;
    /* border: 2px solid green; */
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.dd .dd-content{
    /* position: absolute; */
    /* top:110%; */
    padding: 5px;
    background-color: whitesmoke;
    color:black;
    font-weight: 30px;
    width: 100%;
    height: 100%;
    margin-bottom:10px ;
    transition: 0.1s;
}

.dd .dd-content .dd-item{
    padding: 5px;
    cursor: pointer;
    transition: all 0.2s;
}
.dd-item:hover{
    background-color:rgb(97, 153, 14);
}









/*
=============== 
Navbar
===============
*/
nav {
    background: var(--clr-white);
    /* box-shadow: var(--light-shadow); */
  }
  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-toggle {
    font-size: 1.5rem;
    color: var(--clr-primary-5);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
  }
  .nav-toggle:hover {
    color: var(--clr-primary-1);
    transform: rotate(90deg);
  }
  .logo {
    height: 40px;
  }
  .links a {
    color: var(--clr-grey-3);
    font-size: 1.3rem;
    font-weight:bold;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    padding: 0.5rem 1rem;
    transition: var(--transition);
  }
  .links a:hover {
    background: var(--clr-primary-8);
    color: var(--clr-green-dark);
    padding-left: 1.5rem;
  }
  .social-icons {
    display: none;
  }
  .links-container {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
  }

  .show-container {
    height: 10rem;
  }
  @media screen and (min-width: 800px) {
    .nav-center {
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
    }
    .nav-header {
      padding: 0;
    }
    .nav-toggle {
      display: none;
    }
    .links-container {
      height: auto !important;
    }
    .links {
      display: flex;
    }
    .links a {
      padding: 0;
      margin: 0 0.5rem;
    }
    .links a:hover {
      padding: 0;
      background: transparent;
    }
    .social-icons {
      display: flex;
    }
    .social-icons a {
      /* margin: 0 0.5rem; */
      color: var(--clr-black);
      transition: var(--transition);
    }
    .social-icons a:hover {
      color: var(--clr-primary-7);
    }
  }
  
  .cart-icons{
    display: flex;
    font-size: 1.5rem;
  }
  .cart-icons p{
    margin: 0 0.5rem; 
    color: #222;
  }
  .cart-icons p:hover{
    color: var(--clr-primary-7);
  }
  
  option:not(:checked) {
    background-color: rgb(97, 153, 14);
  }
  select:checked{
    border: none;
  }
  select{
    background-color: white;
    box-shadow: none;
    border: 1px solid #ced4da;;
  }
  
  select option{
    margin: 40px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }
  
  .Menu-icon{
    border: none;
    font: 30px;
  }
  button{
    background-color: none;
  }
  
  .Allcatag option{
    font-size: large;
    background-color: white;
  }
  



/*------------------ #### Cover */


.cover{
padding: 20px;
}
.nav-img{
    width: 100%;
    background-image: url('/src/Bannaer/banner.webp');
    background-repeat: no-repeat;
    background-size:cover;  
    display: flex;
    height: 350px;
    width: 100%;
    padding: 20px;
    margin-top: 15px;
    align-items: center; 
}
.cover-elements{
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 10px;
    opacity: 1;
}
.cover-elements p{
    color: black;
}
.cover-elements h6{
    color:rgb(97, 153, 14) ;
    font-weight: bolder;
    font-size: large;
}
.cover-elements h2{
    color: black;
    font-weight: bolder;
    font-size: 35px;
}
.cover-elements a{
text-decoration: none;
padding: 10px 15px;
}
.navC{
    height: 100%;
    padding: 10px;
}

.break{
    height: 10vh;
}


/* -----------#####Items */
.types{
    background-color: white; 
}
.types img{
    height: 200px;
    width: 350px;
    background-color: rgb(226, 225, 225);
margin: 20px;
}

.Wrapper{
    width:100%;
    display:flex;
    /* transform: translateX(${props => props.slideIndex * -40}vw); */

}
.ContBox{
    /* width:100vw; */
    height:80%;
    /* display:flex; */
    align-items:center;
    background-color:#d1c6c6;
    margin:10px;
    /* cursor: pointer; */

 }  

 .InfoCont{
    /* width:100%; */
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#d1c6c6;
    margin:10px;
    opacity:1;
 }