.top{
    background-color: rgb(231, 230, 230);

}
.top-sections{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;   
}

ul li,.billing div{
    display: inline;
    padding-left:10px;
  }
.header-mail{
    position: relative;
    left: -10px;
    width: 100px;

}
.logIn{
    padding-left:50px ;
}

.btn-green{
    background: rgb(97, 153, 14);
    color: white;
    font-weight: 500;
    border: none;
    padding:10px;
}
