.top{
    background-color: rgb(231, 230, 230);

}
.top-sections{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;   
}

ul li,.billing div{
    display: inline;
    padding-left:10px;
  }
.header-mail{
    position: relative;
    left: -10px;
    width: 100px;

}
.logIn{
    padding-left:50px ;
}

.btn-green{
    background: rgb(97, 153, 14);
    color: white;
    font-weight: 500;
    border: none;
    padding:10px;
}
.types{
    background-color: white; 
}
.types img{
    height: 200px;
    width: 350px;
    background-color: rgb(226, 225, 225);
margin: 20px;
}

.Wrapper{
    width:100%;
    display:flex;
    /* transform: translateX(${props => props.slideIndex * -40}vw); */

}
.ContBox{
    /* width:100vw; */
    height:80%;
    /* display:flex; */
    align-items:center;
    background-color:#d1c6c6;
    margin:10px;
    /* cursor: pointer; */

 }  

 .InfoCont{
    /* width:100%; */
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#d1c6c6;
    margin:10px;
    opacity:1;
 }