.blogPic img{
    height: 250px;
    width: 340px;
    margin-bottom: 20px;
}

.blogitems div{
        font-size: 16px;
        color: #b2b2b2;
        list-style: none;
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 20px;
}

.blg-ttl h5 a{
    margin: 0;
    color: #111111;
    font-weight: 900;
    font-family: "Cairo", sans-serif;
    text-decoration: none;
    margin-bottom: 20px;
}

.blg-dscrp p{
    font-size: 15px;
    font-family: "Cairo", sans-serif;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 45px;
 
}
.blg-dscrp a{
    text-decoration: none;
}
.rectnt-blog{
    margin-top: 20px;
    margin-bottom: 20px;
    left: 0%;
}
.recent-news img{
    height: 90px;
    width: 90px;
}
.recent-header h6{
    font-weight: bolder;
    color: #111111;
    letter-spacing: 0.001px;
}
.recent-date p{
    font-weight: light;
    color: rgb(160, 155, 155);
    letter-spacing: 0.1px;
}
.show-btn{
    display: inline-block;
    font-size: 14px;
    color: #1c1c1c;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid #b2b2b2;
    padding: 12px 18px 10px;
    border-radius: 25px;
}