.ltr{
    background-color: coral;
}

.typed{
display: flex;
justify-content:space-between;
align-items: center;
margin-bottom: 40px;
}

.arrows span{
    background-color:rgb(169, 166, 166);
    font-size: 10px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.rated-img img{
    height: 100px;
    width: 100px;
}
.latest-box{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 40px; */
    background-color: aliceblue;
}
.letest-container{
    /* display: flex; */
    overflow: hidden;
    /* background-color: aqua; */
}
.letestP{
    display: flex;
    /* overflow: hidden; */
    /* width: 900px; */ 
    /* flex-wrap: wrap; */
    background-color: aliceblue;
    margin-bottom: 30px;
    /* margin-top: 20px; */
}
.rated-info{
    width: 250px;
    padding-left: 30px;
    margin:5px;
    /* background-color: aqua; */
    /* padding:10px 05px 25px 20px; */
}
.rated-info .titleL{
    color: black;
    font-size:medium;
}
.rated-info .priceL{
    color: black;
    font-weight: bolder;
    font-size: large;
    
}

